<!DOCTYPE html>
<html>
    <head>
        <title>
            Application Submitted
        </title>
    </head>
    <body>
        {% include 'navbar.html' %}
        {% include 'banner.html' %}
        <p> Your application for the role of <b>{{ job['title'] }}</b>at fizz has been submitted.</p>

        <h4>Full Name</h4>
        <div>{{ application['full_name'] }}</div>

        <h4>Email</h4>
        <div>{{ application['email'] }}</div>

        <h4>LinkedIn Url </h4>
        <div>{{ application['linkedin'] }}</div>

        <h4>Education</h4>
        <div>{{ application['education'] }}</div>

        <h4>Work Experience</h4>
        <div>{{ application['work_experience'] }}</div>

        <h4>Resume Url </h4>
        <div>{{ application['resume_url'] }}</div>

        {% include 'footer.html' %}
        
    </body>
</html>