<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}

</head>
<body>
    {% include 'navbar.html' %}
    {% include 'banner.html' %}

    <div class="container">
    <h2 class="text-center pt-4 mb-4" style="color: rgb(57, 53, 53);">Fizzi Careers</h2>
    <div class="row" style="margin-bottom: 2px;">
        <div class="col-md-6">
            <p class="lead">
                Innovative and client-centric, our software house is a dynamic hub of technological excellence. With a team of skilled developers, designers, and strategists, we craft cutting-edge solutions tailored to your business needs. From bespoke software development to scalable web applications, we pride ourselves on delivering quality products that propel your enterprise forward.Collaborate with us to turn your ideas into powerful, functional realities and embark on a journey of digital transformation.</p>
        </div>
        <div class="d-none d-md-block col-md-6">
            <img src="static\developer.jpg"  style="height: 350px; border-radius: 4px;">
        </div>
    </div>
    <h3 class="text-center pt-4 mb-4">Opening Positions</h3>
    <div>
        {% for job in jobs%}
            {% include 'jobitem.html' %}
        {% endfor %} 
    </div>
    </div>
    {% include 'footer.html' %}

</body>
</html>