<div class="border-bottom mt-1 mb-3 pb-2 row">
    <div class="col-9">
        <h4 style="color: rgb(122, 86, 64);">
            {{job['title']}}
        </h4>
        <div>
            <b> Location:</b> {{job['location']}}
        </div>
        {% if 'salary' in job %}
        <div><b>Salary: {{ job['currency'] }}</b>{{job['salary']}}</div>
        {% endif %}
    </div>
    <div class="col-3">
        <a href="/job/{{job.id}}" "button" class="btn btn-outline-primary">Apply</a>
    </div>
</div>